
---

The python package that matched you to your group and generated this email
is available at https://github.com/klieret/meetup-matcher. Fun fact: because the
pseudorandom number generator is seed with the week number, you can
also verify the pseudorandomness of your matched group (though you need the
list of participants for this).
