Dear {{ names | join(', ') }},

you have been matched to a meetup!

Here are your details:

{% for _, p in people.iterrows() -%}
* {{ p['name'] }} (email: {{ p.email }}{% if p.slack %}, slack: {{ p.slack }}{% endif %})
{% endfor %}

{% if availabilities is not none -%}
You are all available at the following times:
{% for a in availabilities -%}
* {{ a }}
{% endfor %}
{% endif -%}

{% for _, p in people.iterrows() -%}
{% if p["message"] -%} Message added by {{ p["name"] }}: {{ p["message"] }}
{% endif -%}
{% endfor %}

You are now supposed to meet up in the week specified in the invitation. You can go out for tea, coffee, have lunch, take a walk, or do anything else you like.

Please click "reply all", remove the meetup matcher email address, and make a concrete suggestion on where to meet.

Hope you're having fun!
Meetup matcher bot
{%- include "footnote.txt.jinja" -%}
