Dear {{ name }},

thank you for signing up to the tea time matcher.

Unfortunately only very few people signed up this time and we were unable to find a match for you.

Please sign up next time!

All the best,
Tea-time matcher bot
{%- include "footnote.txt.jinja" -%}
